{% extends "base.html" %}

{% block title %}Add Tool{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Add Tool</h2>
    
    <!-- flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('routes.add_tool') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            <label for="name">{{ form.name.label }}</label>
            {{ form.name(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="description">{{ form.description.label }}</label>
            {{ form.description(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="price_per_day">{{ form.price_per_day.label }}</label>
            {{ form.price_per_day(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            {{ form.category(class="form-select") }}
        </div>
        
        <div class="mb-3">
            <label for="image">{{ form.image.label }}</label>
            {{ form.image(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
